@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss"; 

*{
    font-family: Outfit;
}
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background: #050816;
}
html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
.gradient-text {
  background: linear-gradient(90deg, #A855F7, #FF9FFC, #7C3AED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
section {
  scroll-margin-top: 100px;
}